<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDP_Iz4S8diyaA9-1tCIRm5Qj-tav1daSk</string>
	<key>GCM_SENDER_ID</key>
	<string>506731571370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fushati.parents</string>
	<key>PROJECT_ID</key>
	<string>fushati-pay-4ee38</string>
	<key>STORAGE_BUCKET</key>
	<string>fushati-pay-4ee38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506731571370:ios:6e82ff8039aae177c088d3</string>
	<key>DATABASE_URL</key>
	<string>https://fushati-pay-4ee38-default-rtdb.firebaseio.com</string>
</dict>
</plist>